<style lang="scss" scoped>
.el-row + .el-row {
  margin-top: 20px;
}

#drop-box {
  padding: 50px;
  border: 4px dashed #999999;
  font-size: 20px;
  color: #999999;
  text-align: center;
}

.el-row {
  display: flex;
  align-items: center;
}

.ml10 {
  margin-left: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
</style>     

<template>
  <div v-if="gmInstalled">
    <el-row>
      <div id="drop-box" style="width:100%;">拖拽文件夹到此处</div>
    </el-row>
    <el-row>
      <span>图片路径：</span>
      <el-button
        :disabled="run"
        @click="choosePath('inputPath')"
        type="primary"
      >选择</el-button>
      <el-button :disabled="run" @click="openPath(inputPath)">打开</el-button>
      <span class="ml10">{{inputPath}}</span>
    </el-row>
    <el-row>
      <span>输出路径：</span>
      <el-button
        :disabled="run"
        @click="choosePath('outputPath')"
        class="mr10"
        type="primary"
      >选择</el-button>
      <el-button :disabled="run" @click="openPath(outputPath)">打开</el-button>
      <span class="ml10">{{outputPath}}</span>
    </el-row>
    <el-row>
      <span>处理模式：</span>
      <el-radio-group :disabled="run" v-model="mode">
        <el-radio-button :label="1">裁切</el-radio-button>
        <el-radio-button :label="2">填充</el-radio-button>
      </el-radio-group>
    </el-row>
    <el-row>
      <span>填充颜色：</span>
      <el-color-picker :disabled="run" v-model="fillColor"></el-color-picker>
      <el-button :disabled="run" @click="reset('color')" class="ml10">重置</el-button>
    </el-row>
    <el-row>
      <span>图片宽度：</span>
      <el-input-number :disabled="run" :min="1" v-model="targetWidth"></el-input-number>
      <el-button :disabled="run" @click="reset('width')" class="ml10">重置</el-button>
    </el-row>
    <el-row>
      <span>图片高度：</span>
      <el-input-number :disabled="run" :min="1" v-model="targetHeight"></el-input-number>
      <el-button :disabled="run" @click="reset('height')" class="ml10">重置</el-button>
    </el-row>
    <el-row>
      <span>直接处理：</span>
      <el-radio-group :disabled="run" v-model="auto">
        <el-radio-button :label="true">是</el-radio-button>
        <el-radio-button :label="false">否</el-radio-button>
      </el-radio-group>
    </el-row>
    <el-row>
      <el-button :disabled="run" @click="reset()">全部重置</el-button>
      <el-button :disabled="run" @click="parse()" type="primary">开始转换</el-button>
    </el-row>
    <el-row>
      <div class="info" style="width:100%;" v-show="run">
        <span>
          <i class="el-icon-loading"></i>转换中...
        </span>
        <p>当前转换：{{current}}</p>
        <el-progress :format="format" :percentage="progress"></el-progress>
      </div>
    </el-row>
    <el-row>
      <div class="log" style="width:100%;">
        <div :key="key" v-for="(value, key) in errorLog">{{value}}</div>
      </div>
    </el-row>
  </div>
  <div
    class="center"
    v-else-if="!gmInstalled"
  >环境不匹配，缺少GraphicsMagick，请安装后重新启动软件！</div>
</template>

<script>
import parse from '../script/parse'
import { checkGmInstalled, isDirectory, path } from '../script/utils'

function addEventListener () {
  let dropBox = document.getElementById('drop-box')

  dropBox.addEventListener('drop', (e) => {
    e.preventDefault()
    e.stopPropagation()

    if (e.dataTransfer.files.length > 1) return this.$message.error('一次请拖入一个文件夹')
    let filePath = e.dataTransfer.files[0].path

    if (!isDirectory(filePath)) return this.$message.error('请拖入文件夹')

    this.inputPath = filePath
    this.outputPath = path.join(filePath, '.转换完成')

    if (this.auto) this.parse()
  })

  dropBox.addEventListener('dragover', (e) => {
    e.preventDefault()
    e.stopPropagation()
  })
}

export default {
  name: 'index',
  data () {
    return {
      gmInstalled: true,
      run: false,
      progress: 0,
      errorLog: [],
      current: '',
      auto: true,

      inputPath: process.env.NODE_ENV === 'development' ? 'C:\\Users\\Fuego\\Desktop\\产品中心' : '',
      outputPath: process.env.NODE_ENV === 'development' ? 'C:\\Users\\Fuego\\Desktop\\产品中心\\.转换完成' : '',
      fillColor: '#ffffff',
      targetWidth: 750,
      targetHeight: 750,
      mode: 2
    }
  },
  methods: {
    choosePath (prop) {
      this.$electron.remote.dialog.showOpenDialog({properties: ['openDirectory']}, (path) => {
        if (typeof path === 'undefined') return
        this[prop] = path.pop()
      })
    },
    parse () {
      if (this.inputPath === '') return this.$message.error('请选择图片路径')
      if (this.outputPath === '') return this.$message.error('请选择输出路径')

      this.run = true

      parse({
        inputPath: this.inputPath,
        outputPath: this.outputPath,
        fillColor: this.fillColor,
        targetWidth: this.targetWidth,
        targetHeight: this.targetHeight,
        mode: this.mode,

        update: (current, progress) => {
          this.current = current
          this.progress = progress
        },
        fail: (err) => {
          this.errorLog.push(err)
        },
        success: () => {
          this.run = false
          this.$message.success('转换完成')
        }
      })
    },

    format: percentage => `${percentage}%`,

    reset (value) {
      if (value === 'color') return (this.fillColor = '#ffffff')
      if (value === 'width') return (this.targetWidth = 750)
      if (value === 'height') return (this.targetHeight = 750)

      this.fillColor = '#ffffff'
      this.targetWidth = 750
      this.targetHeight = 750
      this.inputPath = ''
      this.outputPath = ''
      this.progress = 0
      this.errorLog = []
      this.current = ''
      this.mode = 2
      this.auto = true
    },

    openPath (path) {
      console.log(path)
      this.$electron.shell.openExternal(path)
    }
  },
  mounted () {
    Reflect.apply(addEventListener, this, [])
    // console.log(this.$electron)
  },

  created () {
    this.gmInstalled = checkGmInstalled()
  }
}
</script>


