<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
document.addEventListener('drop', (e) => {
  e.preventDefault()
  e.stopPropagation()
})

document.addEventListener('dragover', (e) => {
  e.preventDefault()
  e.stopPropagation()
})

export default {
  name: 'image-crop'
}
</script>
